extends layout

block content
    h2= subTitle

    div.AboutUsContainer.col-xs-12.col-lg-12.col-md-12
      h3 The Kálfsstaðir farm
      div.AboutUsStartText.col-xs-12.col-lg-12.col-md-12
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum urna ac finibus fringilla. Nunc luctus, ante quis pharetra congue, lectus nisl maximus purus, ac tempus mi diam ut justo. Integer rhoncus turpis quis mi placerat varius vitae a libero. Etiam elementum, ipsum et ullamcorper pharetra, est arcu blandit augue, at interdum nibh turpis eu neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus quis urna non turpis varius sodales. Morbi bibendum massa semper, congue enim ac, mollis ligula. Quisque cursus, mauris at viverra varius, ligula elit congue mauris, nec pretium nulla erat id neque. Donec a ex a orci lobortis fermentum. In in accumsan magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque commodo tincidunt nunc imperdiet dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus vel dolor ac est commodo faucibus. Suspendisse dui odio, laoreet vitae tortor at, semper mollis ex. Mauris lacinia lectus nunc, eget hendrerit velit rhoncus id. Phasellus porttitor nisi et lobortis auctor. Maecenas tristique laoreet ipsum, ullamcorper tristique purus venenatis sit amet. Duis libero dolor, finibus sed arcu in, euismod mattis lectus. Vivamus vehicula ante at ipsum dignissim suscipit. Ut et sapien rhoncus, luctus diam ac, porttitor libero.
      div.familyMembers.col-xs-12.col-lg-12.col-md-12
        div.familyMember.col-xs-12.col-lg-12.col-md-12
          div.familyPicture.col-xs-12.col-lg-6.col-md-6
            img(src="/images/Oli1_0.2.JPG" title="Oli riding" alt="Oli riding")
          div.familyText.col-xs-12.col-lg-6.col-md-6
            p oliskoli Aenean finibus massa sed nulla tempus, vel lobortis arcu blandit. Integer vitae tempor odio, at dignissim justo. Duis faucibus lectus quis pellentesque maximus. Maecenas venenatis sem nec erat efficitur accumsan. Ut blandit auctor lacus. Nam ullamcorper arcu vitae commodo rutrum. Curabitur fringilla et est vitae vestibulum.
        div.familyMember.col-xs-12
          div.familyPicture.col-xs-12.col-lg-6.col-md-6
            img(src="/images/Systa1.JPG" title="Systa" alt="Systa")
          div.familyText.col-xs-12.col-lg-6.col-md-6
            p systa texti Aenean finibus massa sed nulla tempus, vel lobortis arcu blandit. Integer vitae tempor odio, at dignissim justo. Duis faucibus lectus quis pellentesque maximus. Maecenas venenatis sem nec erat efficitur accumsan. Ut blandit auctor lacus. Nam ullamcorper arcu vitae commodo rutrum. Curabitur fringilla et est vitae vestibulum.
        div.familyMember.col-xs-12.col-lg-12.col-md-12
          div.familyPicture.col-xs-12.col-lg-6.col-md-6
            img(src="/images/una_0.5.JPG" title="Una the youngest child" alt="Picture of our children")
          div.familyText.col-xs-12.col-lg-6.col-md-6
            p children children Aenean finibus massa sed nulla tempus, vel lobortis arcu blandit. Integer vitae tempor odio, at dignissim justo. Duis faucibus lectus quis pellentesque maximus. Maecenas venenatis sem nec erat efficitur accumsan. Ut blandit auctor lacus. Nam ullamcorper arcu vitae commodo rutrum. Curabitur fringilla et est vitae vestibulum.
        div.familyMember.col-xs-12.col-lg-12.col-md-12
          div.familyPicture.col-xs-12.col-lg-6.col-md-6
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1679147.0329708778!2d-21.386141152066898!3d65.73269838433716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d2e138d9019c9d%3A0x47d6ba04d74a1b32!2sHjaltadalsvegur!5e0!3m2!1sen!2sis!4v1479768242914" width="600" height="450" frameborder="0" style="border:0" allowfullscreen title="Location" alt="Location on Google maps")
          div.familyText.col-xs-12.col-lg-6.col-md-6
            p location location blablabla enean finibus massa sed nulla tempus, vel lobortis enean finibus massa sed nulla tempus, vel lobortis enean finibus massa sed nulla tempus, vel lobortis enean finibus massa sed nulla tempus, vel lobortis
