extends layout

block content
      div.SvaedifyrstaForsidumynd.col-xs-12.col-lg-12.col-md-12
        div.paragraphContainer
          p #{firstparagr}

      div.SvaediOnnurForsidumynd.col-xs-12.col-lg-12.col-md-12
        div.paragraphContainer
          p #{secondparagr}

      div.SvaediThridjaForsidumynd.col-xs-12.col-lg-12.col-md-12
        div.paragraphContainer
          p #{thirdparagr}
